* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-top: 80px;
}

h2 {
    color: var(--primary-color);
    font-size: 26px;
}

h3 {
    color: var(--gold-text);
}

p {
    font-size: 18px;
    line-height: 1.6;
}