* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    margin-top: 0;
}

h2 {
    color: var(--primary-color);
    font-size: 32px;
    /* Increased size */
    font-weight: 700;
}

h3 {
    color: var(--gold-text);
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 1.6;
}